<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <title>Novarto - Who Wants To Be a Millionaire</title>
</head>

<body class="bg-dark text-light">
    <br>
    <br>
    <div class="container text-center">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 class="display-3" id="finalScore"></h1>
        <br>
        <br>
        <a href="index.html" class="btn  btn-outline-light btn-block mb-3">Play Again</a>
        <a href="/views/home/home.html" class="btn btn-outline-light btn-block mt-3">Home Page</a>
    </div>
    </div>
    <br>

    <footer class="fixed-bottom">
        <hr class="bg-light">
        <p class="lead text-center">Penko Gadzhev &copy; 2020</p>
    </footer>
    <script src="/controllers/end.js"></script>
</body>

</html>
