<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Novarto - How to be a millionaire</title>
</head>

<body class="bg-dark text-light">

    <!-- Start buttons -->

    <div class="container">
        <div id="home" class="flex-center-column">
            <!-- Heading -->
            <br>
            <br>
            <br>
            <br>
            <br>
            <h1 class="mt-5 p-5 text-center display-4">Who Wants To Be a <span class="text-danger">MILLIONAIRE <i
                        class="far fa-money-bill-alt"></i></span>
                <hr class="bg-light ">
            </h1>
            <!-- Buttons -->
            <br>
            <div class="text-center">
                <a href="/views/game/index.html" class="btn btn-outline-light btn-lg mb-3">Play Game</a>
                <br>
                <a href="./instructions.html" class="btn btn-outline-light btn-lg mt-3">Instructions</a>
            </div>
        </div>
    </div>
</body>

</html>
