<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <title>Novarto - Instructions</title>
</head>

<body class="bg-dark text-light">
    <!-- Heading -->
    <header class="text-center">
        <h3 class="display-4 text-center mt-3">Who Wants To Be a</h3>
        <h1 class="display-2 text-center text-danger mt-3">MILLIONAIRE <i class="far fa-money-bill-alt"></i></h1>
        <hr class="bg-light">
        <br>
        <a class="btn btn-outline-light btn-block mt-3" href="/views/game/index.html">Play Game</a>
    </header>
    <br>
    <div class="container">
        <h2 class="display-4 text-center mt-3 p-5">Instructions about the game <i class="fas fa-gamepad"></i></h1>
            <p class="lead"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis fugit vitae obcaecati et iure officia ut dolores minus suscipit. Numquam labore a deserunt voluptatem eius explicabo eaque, dolorem blanditiis porro eos cum provident. Asperiores
                nemo ipsa maiores totam, harum dignissimos voluptatibus velit debitis itaque labore odit ipsam nam ex pariatur minus sit similique ipsum autem iure, dolore excepturi! Illo quia expedita animi quisquam saepe, iure beatae necessitatibus
                quasi rem voluptatibus! Repellat nam exercitationem voluptas ut a consectetur earum quisquam unde debitis, illum saepe perspiciatis fugit, voluptates rem error dolorum corporis. Est quod maiores aliquam nostrum nulla repellat. Vitae, nihil
                temporibus!
            </p>
    </div>

</body>

</html>
